footer{
 
     .footer__div--uno{
          color: white;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;

            .logo{
                width: 30%;
                margin-left: 10px;
            }

            span{
                font-size: $fuente -.5em;
            }
     }
    width: 100%;
    background-color:$colornf;
      display: flex;
      flex-direction: column;
      align-items: center;
         

     


}

@media only screen and (min-width:750px){
    footer{
        
         display: flex;
         flex-direction: row;
         justify-content: space-around;
           
         
                  span{
                      font-size: $fuente;
                  }
             
    }
 

}